#glCanvas {
    /* Fill the screen */
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;

    /* Render on top of the entire page while not interacting with pointer events. */
    z-index: 10;
    pointer-events: none;
}