.ArtFrame {
    width: 200px;
    height: 200px;
    margin: 15px;
}

.ArtFrame.Selected {
    transform: scale(1.1);
    outline-style: solid;
    outline-color: yellow;
}

.ArtFrameClickTarget {
    width: 100%;
    height: 100%;
}