html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    background-color: #3e607f;
    font-family: Arial;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
}